typer
dateutils
unidecode

jupyter
pandas
matplotlib
numpy
pyarrow
tqdm

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-openai
langgraph
huggingface_hub[cli]

faiss-cpu

transformers
bitsandbytes
torch
accelerate

azure-ai-inference

# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124

# IMAGE: diffusers protobuf sentencepiece