jupyter
pandas
numpy
pyarrow
tqdm

psycopg
sqlalchemy

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-google-vertexai
langchain-postgres
langgraph

huggingface_hub[cli]
transformers
